src/conf/xml-resources/web-service-references/WS_MiBoleto/wsdl/localhost_8080/Server_BoletoMonster/WS_MiBoleto.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicio.reaper.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicio.reaper.com/" name="WS_MiBoleto">
<types>
<xsd:schema>
<xsd:import namespace="http://servicio.reaper.com/" schemaLocation="http://localhost:8080/Server_BoletoMonster/WS_MiBoleto?xsd=1"/>
</xsd:schema>
</types>
<message name="espectaculoCompleto">
<part name="parameters" element="tns:espectaculoCompleto"/>
</message>
<message name="espectaculoCompletoResponse">
<part name="parameters" element="tns:espectaculoCompletoResponse"/>
</message>
<message name="getFactura">
<part name="parameters" element="tns:getFactura"/>
</message>
<message name="getFacturaResponse">
<part name="parameters" element="tns:getFacturaResponse"/>
</message>
<message name="listFormaPago">
<part name="parameters" element="tns:listFormaPago"/>
</message>
<message name="listFormaPagoResponse">
<part name="parameters" element="tns:listFormaPagoResponse"/>
</message>
<message name="listCliente">
<part name="parameters" element="tns:listCliente"/>
</message>
<message name="listClienteResponse">
<part name="parameters" element="tns:listClienteResponse"/>
</message>
<message name="listVendedor">
<part name="parameters" element="tns:listVendedor"/>
</message>
<message name="listVendedorResponse">
<part name="parameters" element="tns:listVendedorResponse"/>
</message>
<message name="localidadById">
<part name="parameters" element="tns:localidadById"/>
</message>
<message name="localidadByIdResponse">
<part name="parameters" element="tns:localidadByIdResponse"/>
</message>
<message name="escenarioById">
<part name="parameters" element="tns:escenarioById"/>
</message>
<message name="escenarioByIdResponse">
<part name="parameters" element="tns:escenarioByIdResponse"/>
</message>
<message name="clienteById">
<part name="parameters" element="tns:clienteById"/>
</message>
<message name="clienteByIdResponse">
<part name="parameters" element="tns:clienteByIdResponse"/>
</message>
<message name="espectaculoById">
<part name="parameters" element="tns:espectaculoById"/>
</message>
<message name="espectaculoByIdResponse">
<part name="parameters" element="tns:espectaculoByIdResponse"/>
</message>
<message name="localidadCompleto">
<part name="parameters" element="tns:localidadCompleto"/>
</message>
<message name="localidadCompletoResponse">
<part name="parameters" element="tns:localidadCompletoResponse"/>
</message>
<message name="espProById">
<part name="parameters" element="tns:espProById"/>
</message>
<message name="espProByIdResponse">
<part name="parameters" element="tns:espProByIdResponse"/>
</message>
<message name="vendedorById">
<part name="parameters" element="tns:vendedorById"/>
</message>
<message name="vendedorByIdResponse">
<part name="parameters" element="tns:vendedorByIdResponse"/>
</message>
<message name="escribirFactura">
<part name="parameters" element="tns:escribirFactura"/>
</message>
<message name="formaPagoById">
<part name="parameters" element="tns:formaPagoById"/>
</message>
<message name="formaPagoByIdResponse">
<part name="parameters" element="tns:formaPagoByIdResponse"/>
</message>
<message name="modificarLocalidad">
<part name="parameters" element="tns:modificarLocalidad"/>
</message>
<message name="insertNewDetalle">
<part name="parameters" element="tns:insertNewDetalle"/>
</message>
<portType name="WS_MiBoleto">
<operation name="espectaculoCompleto">
<input wsam:Action="http://servicio.reaper.com/WS_MiBoleto/espectaculoCompletoRequest" message="tns:espectaculoCompleto"/>
<output wsam:Action="http://servicio.reaper.com/WS_MiBoleto/espectaculoCompletoResponse" message="tns:espectaculoCompletoResponse"/>
</operation>
<operation name="getFactura">
<input wsam:Action="http://servicio.reaper.com/WS_MiBoleto/getFacturaRequest" message="tns:getFactura"/>
<output wsam:Action="http://servicio.reaper.com/WS_MiBoleto/getFacturaResponse" message="tns:getFacturaResponse"/>
</operation>
<operation name="listFormaPago">
<input wsam:Action="http://servicio.reaper.com/WS_MiBoleto/listFormaPagoRequest" message="tns:listFormaPago"/>
<output wsam:Action="http://servicio.reaper.com/WS_MiBoleto/listFormaPagoResponse" message="tns:listFormaPagoResponse"/>
</operation>
<operation name="listCliente">
<input wsam:Action="http://servicio.reaper.com/WS_MiBoleto/listClienteRequest" message="tns:listCliente"/>
<output wsam:Action="http://servicio.reaper.com/WS_MiBoleto/listClienteResponse" message="tns:listClienteResponse"/>
</operation>
<operation name="listVendedor">
<input wsam:Action="http://servicio.reaper.com/WS_MiBoleto/listVendedorRequest" message="tns:listVendedor"/>
<output wsam:Action="http://servicio.reaper.com/WS_MiBoleto/listVendedorResponse" message="tns:listVendedorResponse"/>
</operation>
<operation name="localidadById">
<input wsam:Action="http://servicio.reaper.com/WS_MiBoleto/localidadByIdRequest" message="tns:localidadById"/>
<output wsam:Action="http://servicio.reaper.com/WS_MiBoleto/localidadByIdResponse" message="tns:localidadByIdResponse"/>
</operation>
<operation name="escenarioById">
<input wsam:Action="http://servicio.reaper.com/WS_MiBoleto/escenarioByIdRequest" message="tns:escenarioById"/>
<output wsam:Action="http://servicio.reaper.com/WS_MiBoleto/escenarioByIdResponse" message="tns:escenarioByIdResponse"/>
</operation>
<operation name="clienteById">
<input wsam:Action="http://servicio.reaper.com/WS_MiBoleto/clienteByIdRequest" message="tns:clienteById"/>
<output wsam:Action="http://servicio.reaper.com/WS_MiBoleto/clienteByIdResponse" message="tns:clienteByIdResponse"/>
</operation>
<operation name="espectaculoById">
<input wsam:Action="http://servicio.reaper.com/WS_MiBoleto/espectaculoByIdRequest" message="tns:espectaculoById"/>
<output wsam:Action="http://servicio.reaper.com/WS_MiBoleto/espectaculoByIdResponse" message="tns:espectaculoByIdResponse"/>
</operation>
<operation name="localidadCompleto">
<input wsam:Action="http://servicio.reaper.com/WS_MiBoleto/localidadCompletoRequest" message="tns:localidadCompleto"/>
<output wsam:Action="http://servicio.reaper.com/WS_MiBoleto/localidadCompletoResponse" message="tns:localidadCompletoResponse"/>
</operation>
<operation name="espProById">
<input wsam:Action="http://servicio.reaper.com/WS_MiBoleto/espProByIdRequest" message="tns:espProById"/>
<output wsam:Action="http://servicio.reaper.com/WS_MiBoleto/espProByIdResponse" message="tns:espProByIdResponse"/>
</operation>
<operation name="vendedorById">
<input wsam:Action="http://servicio.reaper.com/WS_MiBoleto/vendedorByIdRequest" message="tns:vendedorById"/>
<output wsam:Action="http://servicio.reaper.com/WS_MiBoleto/vendedorByIdResponse" message="tns:vendedorByIdResponse"/>
</operation>
<operation name="escribirFactura">
<input wsam:Action="http://servicio.reaper.com/WS_MiBoleto/escribirFactura" message="tns:escribirFactura"/>
</operation>
<operation name="formaPagoById">
<input wsam:Action="http://servicio.reaper.com/WS_MiBoleto/formaPagoByIdRequest" message="tns:formaPagoById"/>
<output wsam:Action="http://servicio.reaper.com/WS_MiBoleto/formaPagoByIdResponse" message="tns:formaPagoByIdResponse"/>
</operation>
<operation name="modificarLocalidad">
<input wsam:Action="http://servicio.reaper.com/WS_MiBoleto/modificarLocalidad" message="tns:modificarLocalidad"/>
</operation>
<operation name="insertNewDetalle">
<input wsam:Action="http://servicio.reaper.com/WS_MiBoleto/insertNewDetalle" message="tns:insertNewDetalle"/>
</operation>
</portType>
<binding name="WS_MiBoletoPortBinding" type="tns:WS_MiBoleto">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="espectaculoCompleto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listFormaPago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listVendedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="localidadById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="escenarioById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="clienteById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="espectaculoById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="localidadCompleto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="espProById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="vendedorById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="escribirFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="formaPagoById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarLocalidad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="insertNewDetalle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="WS_MiBoleto">
<port name="WS_MiBoletoPort" binding="tns:WS_MiBoletoPortBinding">
<soap:address location="http://localhost:8080/Server_BoletoMonster/WS_MiBoleto"/>
</port>
</service>
</definitions>