src/conf/xml-resources/web-service-references/WS_MiBoleto/wsdl/localhost_8080/Server_BoletoMonster/WS_MiBoleto.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicio.reaper.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicio.reaper.com/" name="WS_MiBoleto">
<types>
<xsd:schema>
<xsd:import namespace="http://servicio.reaper.com/" schemaLocation="http://localhost:8080/Server_BoletoMonster/WS_MiBoleto?xsd=1"/>
</xsd:schema>
</types>
<message name="espectaculoCompleto">
<part name="parameters" element="tns:espectaculoCompleto"/>
</message>
<message name="espectaculoCompletoResponse">
<part name="parameters" element="tns:espectaculoCompletoResponse"/>
</message>
<message name="listFormaPago">
<part name="parameters" element="tns:listFormaPago"/>
</message>
<message name="listFormaPagoResponse">
<part name="parameters" element="tns:listFormaPagoResponse"/>
</message>
<message name="localidadCompleto">
<part name="parameters" element="tns:localidadCompleto"/>
</message>
<message name="localidadCompletoResponse">
<part name="parameters" element="tns:localidadCompletoResponse"/>
</message>
<portType name="WS_MiBoleto">
<operation name="espectaculoCompleto">
<input wsam:Action="http://servicio.reaper.com/WS_MiBoleto/espectaculoCompletoRequest" message="tns:espectaculoCompleto"/>
<output wsam:Action="http://servicio.reaper.com/WS_MiBoleto/espectaculoCompletoResponse" message="tns:espectaculoCompletoResponse"/>
</operation>
<operation name="listFormaPago">
<input wsam:Action="http://servicio.reaper.com/WS_MiBoleto/listFormaPagoRequest" message="tns:listFormaPago"/>
<output wsam:Action="http://servicio.reaper.com/WS_MiBoleto/listFormaPagoResponse" message="tns:listFormaPagoResponse"/>
</operation>
<operation name="localidadCompleto">
<input wsam:Action="http://servicio.reaper.com/WS_MiBoleto/localidadCompletoRequest" message="tns:localidadCompleto"/>
<output wsam:Action="http://servicio.reaper.com/WS_MiBoleto/localidadCompletoResponse" message="tns:localidadCompletoResponse"/>
</operation>
</portType>
<binding name="WS_MiBoletoPortBinding" type="tns:WS_MiBoleto">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="espectaculoCompleto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listFormaPago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="localidadCompleto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WS_MiBoleto">
<port name="WS_MiBoletoPort" binding="tns:WS_MiBoletoPortBinding">
<soap:address location="http://localhost:8080/Server_BoletoMonster/WS_MiBoleto"/>
</port>
</service>
</definitions>